<section id="section-about" ontouchstart="" ng-controller="AboutUsController"><!--Fix for Safari :active in meet team animation-->
<div class="container-fluid">
<div class="row feature-1" style="background-image: url('/common/assets/img/{{backgroundImage}}')">
    <div class="layer-about">
    <div class="row heading-container wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
        <h2 id="ta-ourStory" >
            Our Story
            <hr>
        </h2>
    </div>
    <div class="row subheading-container wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
        <h3 class="wow fadeIn" style="font-size: 36px">{{hospitalName}}<br><span class="customfont-light">{{hospitalTagLine}}</span></h3>
        <p class="customfont-regular">{{introduction}}</p>
    </div>
    <div class="row subheading-container-1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" >
        <div class="text-info-1">
            <p class="text-left">
                <span ng-repeat="subHeading in subHeadings">{{subHeading}}<br><br></span>
            </p>
        </div>
        <div class="text-info-2">
            <p class="text-left">
                {{missionIntroduction}}
            </p>

            <ul class="feature-details section_heading wow fadeIn" >
                <li ng-repeat="mission in missions"><p class="feature-details">{{mission}}</p></li>
            </ul>
        </div>
    </div>

    <div class="row subheading-container-3" >
        <p class="customfont-bold">{{hospitalTagLine}}<sup><span class="customfont-regular" style="font-size: 10px">TM</span></sup></p>
    </div>
</div>


<div class="row">
    <div class="col-sm-24 text-center about-team">
        <div class="about-team-heading">
            <h2><span class="section_heading wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <span>Meet The Team</span>
                        <hr>
                    </span>
            </h2>
        </div>
        <div id="aboutTeamCarousel" class="carousel slide" hospital-carousel>
            <!-- Wrapper for slides -->
            <div class="row carousel-inner slide-1" role="listbox">
                <div class="item active" ng-swipe-left="swipeleft($event, true)" data-slideno="0">
                    <div class="row slide-details">
                        <div class="team-headshot text-center" ng-repeat="member in team1">
                            <div class="ch-item ch-img" style="background-image: url('/common/assets/img/about/{{member.image}}')">
                                <div class="ch-info">
                                    <h3>FAVORITE SONG</h3>
                                    <p>{{member.song}}</p>
                                    <h3>FAVORITE MAGAZINE</h3>
                                    <p>{{member.book}}</p>
                                    <h3>FAVORITE CHARITY</h3>
                                    <p>{{member.charity}}</p>
                                </div>
                            </div>
                            <h3>{{member.name}}</h3>
                            <h4>{{member.title}}</h4>
                        </div>
                    </div>
                </div>
                <div class="item" ng-swipe-right="swiperight($event, true)" data-slideno="1">
                    <div class="row slide-details">
                        <div class="team-headshot text-center" ng-repeat="member in team2">
                            <div class="ch-item ch-img" style="background-image: url('/common/assets/img/about/{{member.image}}')">
                                <div class="ch-info">
                                    <h3>FAVORITE SONG</h3>
                                    <p>{{member.song}}</p>
                                    <h3>FAVORITE MAGAZINE</h3>
                                    <p>{{member.book}}</p>
                                    <h3>FAVORITE CHARITY</h3>
                                    <p>{{member.charity}}</p>
                                </div>
                            </div>
                            <h3>{{member.name}}</h3>
                            <h4>{{member.title}}</h4>
                        </div>
                    </div>
                </div>
                <div class="item" ng-swipe-right="swiperight($event, true)" data-slideno="2">
                    <div class="col-sm-24 slide-details">
                        <div class="team-headshot text-center" ng-repeat="member in team3">
                            <div class="ch-item ch-img" style="background-image: url('/common/assets/img/about/{{member.image}}')">
                                <div class="ch-info">
                                    <h3>FAVORITE SONG</h3>
                                    <p>{{member.song}}</p>
                                    <h3>FAVORITE MAGAZINE</h3>
                                    <p>{{member.book}}</p>
                                    <h3>FAVORITE CHARITY</h3>
                                    <p>{{member.charity}}</p>
                                </div>
                            </div>
                            <h3>{{member.name}}</h3>
                            <h4>{{member.title}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center" >
                <ol class="carousel-indicators">
                    <li data-target="#aboutTeamCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#aboutTeamCarousel" data-slide-to="1"></li>
                    <li data-target="#aboutTeamCarousel" data-slide-to="2"></li>
                </ol>
            </div>
        </div>

    </div>
</div>

<div class="row text-center">
    <div class="col-sm-24 locations">
        <div class="row">
            <br>
            <br>
            <h2 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"><span class="section_heading">
                    <span>Location</span>
                        <hr>
                    </span>
            </h2>
            <br>
        </div>

        <div class="row">
            <div class="col-sm-24">
                <ul class="ch-grid">
                    <li ng-repeat="location in locations" class="wow fadeInLeft" ng-click="openMap('main')"  data-wow-duration="1s" data-wow-delay="0.3s">
                        <div class="ch-item img-loc-main" ></div>
                        <h3>{{location.address.location}}</h3>
                        <p>
                            <span ng-repeat="line in location.address.lines">{{line}}<br></span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

</div>
</section>