<div class="container-fluid  " style="margin-top:-80px">
<!-- SECTION FADEBACK -->
<section id="slider"  class="parallax" data-stellar-background-ratio="0.5">
    <div class="row">
        <div class="col-sm-24 wow fadeIn animated"  id="section-main" style="padding:0px;">

            <!-- Bootstrap Carousel -->
            <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" hospital-carousel ng-swipe-right="swiperight($event, true)"  ng-swipe-left="swipeleft($event, true)">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active image1" data-slideno="0">

                        <div class="carousel-inner-overlay"></div>
                    </div>

                    <div class="item image2" data-slideno="1">
                        <div class="carousel-inner-overlay"></div>
                    </div>

                    <div class="item image3" data-slideno="2">
                        <div class="carousel-inner-overlay"></div>
                    </div>

                    <div class="item image4" data-slideno="3">
                        <div class="carousel-inner-overlay"></div>
                    </div>
                </div>
                <div>
                    <div class="col-xs-24 overlay text-center home-line" style="left: 0px;">
                        <div class="text-center home-line1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                            <h2 class="customfont-bold text-center">
                                Entertainment That Brings Us Together<sup><span class="customfont-regular" style="font-size: 14px">TM</span></sup>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="text-center" id="indicator-div" style="bottom: 60px">

                </div>

            </div>
            <!-- End of Bootstrap Carousel -->
        </div>
    </div>
</section>
<!-- /END SECTION FADEBACK -->
</div>
