<section id="section-about" ontouchstart="" ng-controller="PrivacyController"><!--Fix for Safari :active in meet team animation-->
    <div class="container-fluid">
        <div class="row feature-1">
            <div class="layer-about">
                <div class="row heading-container wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                    <h2 id="ta-ourStory" >
                        Privacy Policy
                        <hr>
                    </h2>
                </div>
                <div class="row subheading-container wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                    <h3 class="wow fadeIn" style="font-size: 36px">{{hospitalName}}<br><span class="customfont-light">{{hospitalTagLine}}</span></h3>
                    <p class="customfont-regular">Comimg Soon</p>
                </div>
            </div>
        </div>
    </div>
</section>