<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-24 text-center">
                <div class="footer-menu-links">
                    <a href="#/about" id="ta-about">ABOUT US</a>
                    <a href="#/press-release" id="ta-press">LATEST NEWS</a>
                    <a href="#/contact" id="ta-contact">CONTACT US</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-24 text-center">
                <p class="copyright text-center">
                    © 2017 HOSPITAL, Inc. All rights reserved.
                    <a id="ta-termsConditions" href="#/terms-and-conditions">Terms & Conditions</a> | <a href="#/privacy-policy" id="ta-privacyPolicy">Privacy Policy</a><br>
                </p>
             </div>
        </div>
    </div>
</footer>