<header id="navigation" class="navbar navbar-default navbar-fixed-top remove-transparent" data-wow-duration="2s"  hospital-transparency  ng-controller="AppLaunchController" weyv-hold>
    <div class="navbar-header">
        <span type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="checkcollapsable()" >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
        </span>
        <a class="navbar-brand" ng-click="jumpToAnchor($event,'none')">
            <img src="assets/img/header_weyv_logo.png" alt="HOSPITAL">
        </a>
    </div>
    <nav class="navbar-collapse navbar-right collapse" role="navigation">
        <div class="row">
            <ul class="nav navbar-nav">
                <li><a href="#/specialisations" ng-click="jumpToAnchor($event,'section-specialisations')" id="specialisations">SPECIALISATIONS <hr/></a></li>
                <li><a href="#/about" id="about" ng-class="{current:currentPage=='/about'}">ABOUT US <hr/></a></li>
                <li><a href="#/press-release" id="press-release" ng-class="{current:currentPage=='/press-release'}">LATEST NEWS <hr/></a></li>
                <li><a href="#/contact" id="contact" ng-class="{current:currentPage=='/contact'}">CONTACT US <hr/></a></li>
                <hr class="navbar-underline-animination" />
            </ul>
        </div>
    </nav>
</header>
