<script type="text/ng-template" id="side-tpl.tpl" async>
    <div class="col-xs-18 col-sm-6 sidebar sidebar-offcanvas no-padding">
        <div class="side-arrow"></div>
        <div class="list-group">
            <div class="list-group-item side-heading-3 text-right"><a href="#/specialisations" id="ta-specialisationSideLink" style="font-size: 19px" ng-class="{activelink:pressPage}">SPECIALISATIONS</a></div>
            <div class="list-group-item side-heading-3 text-right" style="padding-top: 10px"><a href="#/about" id="ta-aboutSideLink" style="font-size: 19px" ng-class="{activelink:aboutPage}">ABOUT US</a></div>
            <div class="list-group-item side-heading-3 text-right" style="padding-top: 10px"><a href="#/contact" id="ta-contactSideLink" style="font-size: 19px" ng-class="{activelink:contactPage}">CONTACT US</a></div>
        </div>
    </div>
</script>



