<!DOCTYPE html>
<html ng-app="hospital-client-web">
<head lang="en">
    <!--Searchbots crawling blocker-->
    <meta name="robots" content="noindex">
    <!--<meta name="apple-itunes-app" content="app-id=429047995">-->
    <!-- Meta data -->
    <meta charset="utf-8">
    <!--<base href="#/">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Sheshagiri">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Title website -->
    <title>Sai Multi-speciality Hospital</title>
    <!-- CSS stylesheet -->
    <!-- compiled CSS -->
    <% website_styles.forEach( function ( file ) { %><link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>
</head>
<body hospital-scroll ng-init="onAppInit();">
<div ng-include="'partials/common/sideMenu.html'"></div>
<div ng-include="'partials/common/header-tpl.html'"></div>
<div ng-view></div>
<div ng-include="'partials/common/footer-tpl.html'"></div>
</body>
<% website_scripts.forEach( function ( file ) { %><script type="text/javascript" src="<%= file %>"></script>
<% }); %>
</html>